In [2]:
import pandas as pd
import numpy as np

In [3]:
## Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [4]:
int(1000 * 0.9)

900

In [5]:
n_class_0

900

In [6]:
n_class_1

100

In [7]:
n_class_0,n_class_1

(900, 100)

In [8]:
f = [0] * n_class_0

In [9]:
len(f)

900

In [10]:
l = [1] * n_class_1

In [11]:
len(l)

100

In [12]:
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 0 ,scale = 1 , size = n_class_0),
    'feature_2' : np.random.normal(loc = 0 ,scale = 1 , size = n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 2 ,scale = 1 , size = n_class_1),
    'feature_2' : np.random.normal(loc = 2 ,scale = 1 , size = n_class_1),
    'target' : [1] * n_class_1
})

In [13]:
pd.concat([class_0,class_1])

    feature_1  feature_2  target
0   -1.085631   0.551302       0
1    0.997345   0.419589       0
2    0.282978   1.815652       0
3   -1.506295  -0.252750       0
4   -0.578600  -0.292004       0
..        ...        ...     ...
95   1.376371   2.845701       1
96   2.239810   0.880077       1
97   1.131760   1.640703       1
98   2.902006   0.390305       1
99   2.697490   2.013570       1

[1000 rows x 3 columns]

In [15]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [16]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [17]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [18]:
df.target.value_counts()

0    900
1    100
Name: target, dtype: int64

In [19]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [22]:
df_minority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [23]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [24]:
df.target.value_counts()

0    900
1    100
Name: target, dtype: int64

In [34]:
df_majority.value_counts()

feature_1  feature_2  target
-3.231055  -1.725890  0         1
 0.275342   0.215802  0         1
 0.342638   0.376689  0         1
 0.343258  -0.263153  0         1
 0.345124  -0.678374  0         1
                               ..
-0.421079  -0.313595  0         1
-0.416345  -0.366568  0         1
-0.415619  -0.730675  0         1
-0.413757  -0.416758  0         1
 3.571579   0.850721  0         1
Length: 900, dtype: int64

In [35]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [36]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [37]:
len(df_minority)

100

In [38]:
len(df_majority)

900

In [39]:
## UPSAMPLING PERFORMING

In [40]:
from sklearn.utils import resample  ## RESAMPLE LIBRARY HELPS IN UPSAMPLING

In [47]:
df_minority_upsample = resample(df_minority,
                                replace = True, ## SAMPLE WITH REPLACMENT
                                n_samples = len(df_majority), # to match the majority class
                                random_state = 42
                               )

In [48]:
len(df_minority_upsample)

900

In [49]:
df_minority_upsample.shape

(900, 3)

In [54]:
df_minority_upsample.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [55]:
df_upsampled = pd.concat([df_majority,df_minority_upsample])

In [58]:
df_upsampled

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

[1800 rows x 3 columns]

In [60]:
## DownSampling

In [78]:
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 0 ,scale = 1 , size = n_class_0),
    'feature_2' : np.random.normal(loc = 0 ,scale = 1 , size = n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 2 ,scale = 1 , size = n_class_1),
    'feature_2' : np.random.normal(loc = 2 ,scale = 1 , size = n_class_1),
    'target' : [1] * n_class_1
})

In [79]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [80]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [85]:
df_majority_downsample = resample(df_majority,
                                replace = False, ## SAMPLE WITH out  REPLACMENT
                                n_samples = len(df_minority), ## to match the minority class 
                                random_state = 42
                               )

In [86]:
df_majority_downsample.shape

(100, 3)

In [87]:
df_majority_downsample.shape

(100, 3)

In [89]:
df_downsample =pd.concat([df_minority,df_majority_downsample])

In [90]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64

In [63]:
df_upsampled.to_csv('kk.csv',index = False)

In [64]:
pd.read_csv('kk.csv')

      feature_1  feature_2  target
0     -1.085631   0.551302       0
1      0.997345   0.419589       0
2      0.282978   1.815652       0
3     -1.506295  -0.252750       0
4     -0.578600  -0.292004       0
...         ...        ...     ...
1795   1.188902   2.189189       1
1796   3.919526   1.980541       1
1797   2.810326   3.604614       1
1798   3.621531   2.168229       1
1799   1.160887   2.489203       1

[1800 rows x 3 columns]